<html>
<head>
  <meta charset="utf-8" />
  <title>FusionAuth OpenID and PKCE example</title>
  <link rel="stylesheet" href="/static/css/changebank.css">
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <div id="logo-header">
        <img src="https://fusionauth.io/cdn/samplethemes/changebank/changebank.svg" />
        <div class="h-row">
          <p class="header-email">{{session["email"]}}</p>
          <a class="button-lg" href={{logoutUrl}}>Logout</a>
        </div>
      </div>

      <div id="menu-bar" class="menu-bar">
        <a class="menu-link inactive" href="/make-change">Make Change</a>
        <a class="menu-link inactive" href="/account">Account</a>
        <a class="menu-link" href="/logged-in-qr-login">Log In On Mobile Device</a>
      </div>
    </div>

    <div style="flex: 1;">
      <div class="column-container">
        <div class="app-container change-container">
          <h3>Login On Your Device</h3>

          <p>{{qrimg|safe}}</p>

        </div>
      </div>
    </div>
</body>
</html>
